.con
{
    background: white;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.side-bar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 5%;
    height: 100%;
    background: #0D1B2A;
}
.content
{
    width: 95%;
    background: #415A77;
    display: flex;
    flex-direction:column;
}
.nav-bar
{
    height: 85px;
    width: 100%;
    background: #303E5A;
}
.channel
{
    height: 100%;
    width: 100%;
    background: #415A77;
    display: flex;
    flex-direction: row;
}
.side-bar-channel
{
    height: 100%;
    width: 15%;
    background: #415A77;
}
.chat
{
    height: 100%;
    width: 85%;
    background: #778DA9;
}
/* 303E5A */


.ChatInput
{
    height: 5%;
    width: 75.8%;
    bottom: 0;
    margin-bottom: 1%;
    margin-left: 1%;
    position: fixed;
    border: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 1%;
}

.SubmitChat
{
    padding: 1.2%;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 1%;
    margin-top: 2%;
    background-color: #415A77;
    border-radius: 50%;
}

.addServer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    padding: 40%;
    border-radius: 50%;
    margin: 10px 0px 0px 0px;
}
.addServer img{
    width: 30px;
    height: 30px;
}

.addServer:hover
{
    background-color: #778DA9;
}

.window-add-server 
{
    background-color: #778DA9; /* Desired background color */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
  
.window-add-server h2 
{
    margin-top: 0;
}