.con
{
    background: white;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.side-bar
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 5%;
    height: 100%;
    background: #0D1B2A;
}
.content
{
    width: 95%;
    background: #415A77;
    display: flex;
    flex-direction:column;
}
.nav-bar
{
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* flex-direction: column; */
    background: #303E5A;
}
.profile-image
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 0px;
    width: 50px;
    height: 50px;
    /* background: white; */
    border-radius: 50%;
}

.channel
{
    height: 100%;
    width: 100%;
    background: #415A77;
    display: flex;
    flex-direction: row;
}
.side-bar-channel
{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: #415A77;
}
.chat
{
    height: 100%;
    width: 85%;
    background: #778DA9;
}
/* 303E5A */
.messages-chat
{
    margin: 10px;
    height: 560px;
}

.ChatInput
{
    height: 5%;
    width: 75.8%;
    bottom: 0;
    margin-bottom: 1%;
    margin-left: 1%;
    position: fixed;
    border: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    padding-left: 1%;
}

.SubmitChat
{
    padding: 1.2%;
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 1%;
    margin-top: 2%;
    background-color: #415A77;
    border-radius: 50%;
}

.server-button
{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    padding: 40%;
    border-radius: 50%;
    margin: 10px 0px 0px 0px;
}
.addServer
{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    padding: 40%;
    border-radius: 50%;
    margin: 10px 0px 0px 0px;
}
.server-list
{
    align-self: flex-start;
}
.addServer img{
    width: 30px;
    height: 30px;
}
.server-button img{
    width: 50px;
    height: 50px;
}

.addServer:hover
{
    background-color: #778DA9;
}

.window-add-server 
{
    /*background-color: #778DA9; !* Desired background color *!*/
    padding: 20px;
    /*border-radius: 5px;*/
    text-align: center;
}
  
.window-add-server h2 
{
    margin-top: 0;
}



/* CSS for message alignment */
.message-container {
    display: flex;
    justify-content: flex-end; /* Align messages to the right by default */
}

/* CSS for message box */
.message {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
    max-width: 70%;
}
.align-right {
    text-align: right;
    margin-right: 10px;
}

.align-left {
    text-align: left;
    margin-left: 10px;
}
.align-right-message {
    background: lightgreen;
    padding: 10px;
    border-radius: 50px;
    text-align: right;
    margin-right: 10px;
}

.align-left-message{
    background: lightblue;
    text-align: left;
    padding: 10px;

    border-radius: 50px;
    margin-left: 10px;
}
/* CSS for right-aligned messages */
.message-right {
    /* background-color: lightblue; Background color for right-aligned messages */
    color: black; /* Font color for right-aligned messages */
}

/* CSS for left-aligned messages */
.message-left {
    /* background-color: lightgreen; Background color for left-aligned messages */
    color: black; /* Font color for left-aligned messages */
}

/* Adjust message alignment and color based on username */
.message-container.message-left {
    justify-content: flex-start; 
}

.message-container.message-left .message {
    background-color: lightgreen; /* Background color for left-aligned messages */
    /* width: 100%; */
    color: black; /* Font color for left-aligned messages */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.message-container.message-right .message {
    background-color: lightblue; /* Background color for right-aligned messages */
    /* width: 100%; */
    color: black; /* Font color for right-aligned messages */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.profile-image img
{
    width: 50px;
    height: 50px;
}
.other-seting
{
    width: 100%;
    height: 15%;
    background: #303E5A;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.other-seting button
{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
}
.other-seting button img
{
    width: 30px;
    height: 30px;
}
